.Pokecard {
    background-color: rgb(253, 247, 247);
    width: 250px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    box-shadow: 6px 10px 11px -5px rgba(0, 0, 0, 0.25);
}

.Pokecard-title {
    color: rgb(103, 103, 155);
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.Pokecard-exp {
    padding-bottom: 10px;
}

.Pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #eceff1;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.Pokecard img {
    transition: all ease-in 500ms;
}

.Pokecard img:hover {
    transform: scale(1.2);
    opacity: 0.8;
}